In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("vine_table.csv")

In [3]:
df_rename = df.rename(columns={'RDIJS7QYB6XNR':'review_id',
                         '5': "star_rating",
                         "0": "helpful_votes",
                  "0.1":"total_votes",
                  "N":"vine",
                  "Y":"verified_purchase"})

In [4]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20
df_greater_20 = df_rename[df_rename["total_votes"]>=20]
df_greater_20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
103,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
310,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
355,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
423,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
545,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N

In [5]:
df_greater_20["helpful_div_total"] = df_greater_20["helpful_votes"] / df_greater_20["total_votes"]

c:\users\candy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
# create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
df_greater_50 = df_greater_20[df_greater_20["helpful_div_total"]>=0.5]
df_greater_50.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_div_total
103,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,0.851852
310,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,1.000000
355,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,0.950000
423,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,0.728395
545,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,0.956522

In [16]:
# filter df_greater_50 where vine is yes
yes_vine = df_greater_50[df_greater_50["vine"] == 'Y']
yes_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_div_total
355,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,0.950000
545,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,0.956522
925,R2JM687C525WR9,3.0,33.0,33.0,Y,N,1.000000
7568,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N,0.925926
20671,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N,0.875000

In [15]:
# filter df_greater_50 where vine is no
no_vine = df_greater_50[df_greater_50["vine"] == 'N']
no_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_div_total
103,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,0.851852
310,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,1.000000
423,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,0.728395
1175,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N,1.000000
1514,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y,1.000000

In [14]:
# get the total number of 5 star reviews
five_star_ratings = df_greater_20[df_greater_20.star_rating == 5].count()['review_id']

# count number of paid 5 stars reviews
five_star_ratings_paid = df_greater_20[df_greater_20.verified_purchase == "Y"][df_greater_20.star_rating == 5].count()['review_id']
# get percentage
percent_five_stars_ratings_paid = five_star_ratings_paid / five_star_ratings 
print(percent_five_stars_ratings_paid)

# count number of unpaid 5 stars reviews
five_star_ratings_unpaid = df_greater_20[df_greater_20.verified_purchase == "N"][df_greater_20.star_rating == 5].count()['review_id']
# get percentage
percent_five_stars_ratings_unpaid = five_star_ratings_unpaid / five_star_ratings 
print(percent_five_stars_ratings_unpaid)

0.4651110755953332
0.5348889244046667

c:\users\candy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
c:\users\candy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()